* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.logins {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23b10000'/%3E%3Cstop offset='1' stop-color='%23eb0000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23323232'/%3E%3Cstop offset='0.09' stop-color='%233e3e3e'/%3E%3Cstop offset='0.18' stop-color='%23464646'/%3E%3Cstop offset='0.31' stop-color='%234c4c4c'/%3E%3Cstop offset='0.44' stop-color='%23505050'/%3E%3Cstop offset='0.59' stop-color='%23545454'/%3E%3Cstop offset='0.75' stop-color='%23565656'/%3E%3Cstop offset='1' stop-color='%23585858'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.card {
  box-shadow: black 10px 5px 10px;
}

.navbtn {
  background-color: rgb(255, 255, 255);
  box-shadow: black 10px 5px 10px;
}


#page {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


#update {
  background-color: #ff0000;
  border: none;
  box-shadow: black 5px 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#update-btn {
  background-color: #ff0000;
  border: none;
  box-shadow: black 5px 4px 10px;
}

#update:hover {
  background-color: #dd0000;
}

#dropdown-basic-button {
  background-color: #ff0000;
  height: 4vh;
  margin-left: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: black 5px 4px 10px;
}

#dropdown-basic-button:active {
  background-color: #a80000;
  height: 3.9vh;
  margin-left: 2vw;
}

#dropdown-basic-button:hover {
  background-color: #df0000;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-menu.show {
  background: red;
}

#load {
  margin: auto;
  border: solid black;
}

.load {
  margin: auto;
  margin-top: 2vh;
  border: solid black;
  height: 20vh;
  width: 20vw;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FF0202'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  box-shadow: black 5px 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  height: 3vh;
  width: 5vw;
  background-color: #ff0000;
  border: none;
  box-shadow: black 5px 4px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20%;
}

@media screen and (min-width: 600px) {
  .header {
    position: fixed;
    top: 1vw;
    min-width: 97.5vw;
    min-height: 10vh;
    background-color: #525252;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23550000'/%3E%3Cstop offset='1' stop-color='%23680000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='0.09' stop-color='%23000000'/%3E%3Cstop offset='0.18' stop-color='%23000000'/%3E%3Cstop offset='0.31' stop-color='%23000000'/%3E%3Cstop offset='0.44' stop-color='%23000000'/%3E%3Cstop offset='0.59' stop-color='%23000000'/%3E%3Cstop offset='0.75' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: rgb(0, 0, 0) 5px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dash {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23b10000'/%3E%3Cstop offset='1' stop-color='%23eb0000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23323232'/%3E%3Cstop offset='0.09' stop-color='%233e3e3e'/%3E%3Cstop offset='0.18' stop-color='%23464646'/%3E%3Cstop offset='0.31' stop-color='%234c4c4c'/%3E%3Cstop offset='0.44' stop-color='%23505050'/%3E%3Cstop offset='0.59' stop-color='%23545454'/%3E%3Cstop offset='0.75' stop-color='%23565656'/%3E%3Cstop offset='1' stop-color='%23585858'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dashRando {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23b10000'/%3E%3Cstop offset='1' stop-color='%23eb0000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23323232'/%3E%3Cstop offset='0.09' stop-color='%233e3e3e'/%3E%3Cstop offset='0.18' stop-color='%23464646'/%3E%3Cstop offset='0.31' stop-color='%234c4c4c'/%3E%3Cstop offset='0.44' stop-color='%23505050'/%3E%3Cstop offset='0.59' stop-color='%23545454'/%3E%3Cstop offset='0.75' stop-color='%23565656'/%3E%3Cstop offset='1' stop-color='%23585858'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title{
    margin-right: 5.5vw;
    width: 20vw;
    display: flex;
    justify-content: center;
  }
  .vtg {
    height: 8vh;
    box-shadow: black 5px 4px 10px;
  }
  .vtg-container {
    height: 8vh;
    width: 30vw;
    margin-left: 2vw;
  }
  .vtg-open {
    height: 20vh;
  }
  #buscar {
    height: 3vh;
    min-width: 25vw;
    background-color: #3f3f3f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%233e0000'/%3E%3Cstop offset='1' stop-color='%23480000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='0.09' stop-color='%23000000'/%3E%3Cstop offset='0.18' stop-color='%23000000'/%3E%3Cstop offset='0.31' stop-color='%23000000'/%3E%3Cstop offset='0.44' stop-color='%23000000'/%3E%3Cstop offset='0.59' stop-color='%23000000'/%3E%3Cstop offset='0.75' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    color: white;
    text-align: center;
  }
  .updatediv {
    height: 8vh;
    width: 27vw;
    margin-right: 2vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #page-btns {
    margin: auto;
    margin-top: 10vh;
    height: 5vh;
    width: 30vw;
    background-color: #b5b5b5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23710000'/%3E%3Cstop offset='1' stop-color='%238f0000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23252525'/%3E%3Cstop offset='0.09' stop-color='%232d2d2d'/%3E%3Cstop offset='0.18' stop-color='%23323232'/%3E%3Cstop offset='0.31' stop-color='%23363636'/%3E%3Cstop offset='0.44' stop-color='%23393939'/%3E%3Cstop offset='0.59' stop-color='%233b3b3b'/%3E%3Cstop offset='0.75' stop-color='%233d3d3d'/%3E%3Cstop offset='1' stop-color='%233E3E3E'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #nexprev {
    width: 8vw;
    background-color: #ff0000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
  }
  #lorem {
    height: 20vh;
    width: 50vw;
    padding: 1vh 2vw;
    color: white;
    /* background-color: rgb(0, 0, 0); */
    overflow: scroll;
  }
  #lorem::-webkit-scrollbar {
    width: 0vw;
    height: 0vh;
  }
  .city {
    margin: -2vh 2vw 5vh 2vw;
    color: white;
  }
  .cityRando {
    margin: -10vh 0 2vh 0;
    color: white;
  }
  .se {
    margin: auto;
    color: white;
  }
  #loremRando {
    height: 30vh;
    width: 40vw;
    padding: 1vh 2vw;
    color: white;
    overflow: scroll;
    border: solid 1px white;
    border-radius: 3%;
  }
  #loremRando::-webkit-scrollbar {
    width: 0vw;
    height: 0vh;
  }
  
  #search-btns {
    margin: auto;
    margin-top: 10vh;
    height: 15vh;
    width: 30vw;
    background-color: #b5b5b5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23710000'/%3E%3Cstop offset='1' stop-color='%238f0000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23252525'/%3E%3Cstop offset='0.09' stop-color='%232d2d2d'/%3E%3Cstop offset='0.18' stop-color='%23323232'/%3E%3Cstop offset='0.31' stop-color='%23363636'/%3E%3Cstop offset='0.44' stop-color='%23393939'/%3E%3Cstop offset='0.59' stop-color='%233b3b3b'/%3E%3Cstop offset='0.75' stop-color='%233d3d3d'/%3E%3Cstop offset='1' stop-color='%233E3E3E'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  #top {
    width: 35vw;
    display: flex;
    justify-content: space-between;
  }
  #topRando {
    width: 35vw;
    display: flex;
    justify-content: space-between;
  }
  #l-imgRando {
    height: 30vh;
    width: 30vh;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23760000' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23960000' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23b80000' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23db0000' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23FF0000' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
  }
  #l-img {
    height: 30vh;
    width: 30vh;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23760000' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23960000' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23b80000' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23db0000' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23FF0000' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
  }
  #userProfile {
    margin-top: 15vw;
    min-height: 15vh;
    background-color: #525252;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23550000'/%3E%3Cstop offset='1' stop-color='%23680000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='0.09' stop-color='%23000000'/%3E%3Cstop offset='0.18' stop-color='%23000000'/%3E%3Cstop offset='0.31' stop-color='%23000000'/%3E%3Cstop offset='0.44' stop-color='%23000000'/%3E%3Cstop offset='0.59' stop-color='%23000000'/%3E%3Cstop offset='0.75' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    flex-direction: column;
  }
  #home {
    margin-top: 5vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #profilePost {
    margin: 5vh 2vw 0 2vw;
    min-height: 15vh;
    max-width: 40vw;
    background-color: #525252;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23550000'/%3E%3Cstop offset='1' stop-color='%23680000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='0.09' stop-color='%23000000'/%3E%3Cstop offset='0.18' stop-color='%23000000'/%3E%3Cstop offset='0.31' stop-color='%23000000'/%3E%3Cstop offset='0.44' stop-color='%23000000'/%3E%3Cstop offset='0.59' stop-color='%23000000'/%3E%3Cstop offset='0.75' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    flex-direction: column;
  }
  #userProfile {
    margin: 15vh 2vw 0 2vw;
    min-height: 18vh;
    background-color: #525252;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23550000'/%3E%3Cstop offset='1' stop-color='%23680000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='0.09' stop-color='%23000000'/%3E%3Cstop offset='0.18' stop-color='%23000000'/%3E%3Cstop offset='0.31' stop-color='%23000000'/%3E%3Cstop offset='0.44' stop-color='%23000000'/%3E%3Cstop offset='0.59' stop-color='%23000000'/%3E%3Cstop offset='0.75' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    flex-direction: column;
  }
  .randoPost {
    margin: 4vh 0;
    padding: 5vh;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #randomP {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post {
    margin: 4vh 0;
    padding: 5vh;
    max-width: 40vw;
    background-color: #6c6c6c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%235d0000'/%3E%3Cstop offset='1' stop-color='%23730000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23060606'/%3E%3Cstop offset='0.09' stop-color='%23070707'/%3E%3Cstop offset='0.18' stop-color='%23080808'/%3E%3Cstop offset='0.31' stop-color='%23090909'/%3E%3Cstop offset='0.44' stop-color='%23090909'/%3E%3Cstop offset='0.59' stop-color='%230a090a'/%3E%3Cstop offset='0.75' stop-color='%230a0a0a'/%3E%3Cstop offset='1' stop-color='%230A0A0A'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #post {
    margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #posts {
    margin-top: 5vh;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #postsRando {
    max-width: 95vw;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #user1{
    margin: 0 2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #ffffff;
  }
  
  #user2{
    margin: 0 1vw;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .dash {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23b10000'/%3E%3Cstop offset='1' stop-color='%23eb0000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23323232'/%3E%3Cstop offset='0.09' stop-color='%233e3e3e'/%3E%3Cstop offset='0.18' stop-color='%23464646'/%3E%3Cstop offset='0.31' stop-color='%234c4c4c'/%3E%3Cstop offset='0.44' stop-color='%23505050'/%3E%3Cstop offset='0.59' stop-color='%23545454'/%3E%3Cstop offset='0.75' stop-color='%23565656'/%3E%3Cstop offset='1' stop-color='%23585858'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 100vh;
    min-width: 99.1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header {
    position: fixed;
    top: 1vw;
    min-width: 94vw;
    min-height: 10vh;
    background-color: #525252;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23550000'/%3E%3Cstop offset='1' stop-color='%23680000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='0.09' stop-color='%23000000'/%3E%3Cstop offset='0.18' stop-color='%23000000'/%3E%3Cstop offset='0.31' stop-color='%23000000'/%3E%3Cstop offset='0.44' stop-color='%23000000'/%3E%3Cstop offset='0.59' stop-color='%23000000'/%3E%3Cstop offset='0.75' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: rgb(0, 0, 0) 5px 5px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .title{
    color:transparent;
  }
  .vtg {
    height: 8vh;
    margin-left: 2vw;
    box-shadow: black 5px 4px 10px;
  }
  .vtg-open {
    height: 20vh;
  }
  #buscar {
    height: 4vh;
    width: 55vw;
    background-color: #3f3f3f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%233e0000'/%3E%3Cstop offset='1' stop-color='%23480000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='0.09' stop-color='%23000000'/%3E%3Cstop offset='0.18' stop-color='%23000000'/%3E%3Cstop offset='0.31' stop-color='%23000000'/%3E%3Cstop offset='0.44' stop-color='%23000000'/%3E%3Cstop offset='0.59' stop-color='%23000000'/%3E%3Cstop offset='0.75' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    color: white;
    text-align: center;
  }
  .updatediv {
    height: 8vh;
    width: 30vw;
    margin-right: 2vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #page-btns {
    margin: auto;
    margin-top: 15vh;
    height: 5vh;
    width: 50vw;
    background-color: #b5b5b5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23710000'/%3E%3Cstop offset='1' stop-color='%238f0000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23252525'/%3E%3Cstop offset='0.09' stop-color='%232d2d2d'/%3E%3Cstop offset='0.18' stop-color='%23323232'/%3E%3Cstop offset='0.31' stop-color='%23363636'/%3E%3Cstop offset='0.44' stop-color='%23393939'/%3E%3Cstop offset='0.59' stop-color='%233b3b3b'/%3E%3Cstop offset='0.75' stop-color='%233d3d3d'/%3E%3Cstop offset='1' stop-color='%233E3E3E'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #nexprev {
    width: 20vw;
    background-color: #ff0000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
  }
  #lorem {
    padding: 2vh 5vw;
    height: 30vh;
    width: 80vw;
    color: white;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #search-btns {
    margin: auto;
    margin-top: 15vh;
    height: 20vh;
    max-width: 70vw;
    background-color: #b5b5b5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23710000'/%3E%3Cstop offset='1' stop-color='%238f0000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23252525'/%3E%3Cstop offset='0.09' stop-color='%232d2d2d'/%3E%3Cstop offset='0.18' stop-color='%23323232'/%3E%3Cstop offset='0.31' stop-color='%23363636'/%3E%3Cstop offset='0.44' stop-color='%23393939'/%3E%3Cstop offset='0.59' stop-color='%233b3b3b'/%3E%3Cstop offset='0.75' stop-color='%233d3d3d'/%3E%3Cstop offset='1' stop-color='%233E3E3E'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  #top {
    height: 52vh;
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #profilePost {
    margin-top: 10vw;
    min-height: 10vh;
    background-color: #525252;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23550000'/%3E%3Cstop offset='1' stop-color='%23680000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='0.09' stop-color='%23000000'/%3E%3Cstop offset='0.18' stop-color='%23000000'/%3E%3Cstop offset='0.31' stop-color='%23000000'/%3E%3Cstop offset='0.44' stop-color='%23000000'/%3E%3Cstop offset='0.59' stop-color='%23000000'/%3E%3Cstop offset='0.75' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    flex-direction: column;
  }
  #topRando {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #loremRando {
    margin-top: 4vw;
    height: 30vh;
    width: 70vw;
    padding: 1vh 2vw;
    color: white;
    overflow: scroll;
    text-align: center;
    border: solid 1px white;
    border-radius: 3%;
  }
  #loremRando::-webkit-scrollbar {
    width: 0vw;
    height: 0vh;
  }
  .city {
    margin: -2vh 2vw 5vh 2vw;
    color: white;
  }
  .cityRando {
    margin: -5vh 0 2vh 0;
    color: white;
  }
  .se {
    margin: auto;
    color: white;
  }
  #l-imgRando {
    height: 30vh;
    width: 40vh;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23760000' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23960000' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23b80000' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23db0000' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23FF0000' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
  }
  #l-img {
    height: 20vh;
    width: 30vh;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23760000' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23960000' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23b80000' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23db0000' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23FF0000' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
  }
  #userProfile {
    margin-top: 25vw;
    min-height: 20vh;
    background-color: #525252;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23550000'/%3E%3Cstop offset='1' stop-color='%23680000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='0.09' stop-color='%23000000'/%3E%3Cstop offset='0.18' stop-color='%23000000'/%3E%3Cstop offset='0.31' stop-color='%23000000'/%3E%3Cstop offset='0.44' stop-color='%23000000'/%3E%3Cstop offset='0.59' stop-color='%23000000'/%3E%3Cstop offset='0.75' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    flex-direction: column;
  }
  .post {
    margin: 4vh 0;
    padding: 5vh;
    max-width: 94vw;
    background-color: #6c6c6c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%235d0000'/%3E%3Cstop offset='1' stop-color='%23730000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23060606'/%3E%3Cstop offset='0.09' stop-color='%23070707'/%3E%3Cstop offset='0.18' stop-color='%23080808'/%3E%3Cstop offset='0.31' stop-color='%23090909'/%3E%3Cstop offset='0.44' stop-color='%23090909'/%3E%3Cstop offset='0.59' stop-color='%230a090a'/%3E%3Cstop offset='0.75' stop-color='%230a0a0a'/%3E%3Cstop offset='1' stop-color='%230A0A0A'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: black 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #post {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #posts {
    margin-top: 5vh;
    width: 95vw;
  }
  .randoPost {
    margin: 4vh 0;
    padding: 5vh;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #randomP {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #user1{
    margin: 0 2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #ffffff;
  }
  
  #user2{
    margin: 0 1vw;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #ffffff;
  }
}
